#hero {
  width: 100vw;
  height: 100vh;
  background-image: url("../../img/hero-bg.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero h1 {
  font-weight: 900;
  font-size: 112px;
  line-height: 137px;
  text-transform: uppercase;

  color: #ffffff;
}

@media (max-width: 768px) {
  #hero {
    justify-content: flex-start;
    padding-left: 30px;
  }
  #hero h1 {
    display: flex;
    flex-direction: column;
    font-size: 92px;
    line-height: 112px;
  }
}
